.top-title {
    color: #fff !important;
}

.text-color-gray{
    color: gray;
}

.my-topbar {
    min-width: 1400px;
    width: 100%;
}

.my-inner-topbar{
    width: 100%;
    height: 56px;    
    min-width: 1000px;
}

.user-info-bar{
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bg-black{
    background-color: #050505;
}

.search-btn {
  color: #fff;
  background-color: #050505;
  border-color: #fff;
}
  
.search-btn:hover {
  color: #fff;
  background-color: #1f2330;
  border-color: #fff;
}

.top-item {
    display: flex;
    flex: 1 1 auto;
    height: 4.375rem;
    align-items: center;
    text-align: center;
    padding: 0 0.75rem;
}

.user-top-item {
    display: flex;
    flex: 1 1 auto;
    height: 2.5rem;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem;
}

.top-link{
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    padding: 0 0.75rem;
}

.top-user-link{
    color: #000 !important;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.25rem;
    background: #fff;
    border: none;
}

.btn-login {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    width: 180px;
    background-color: #fff;
    border-color: #000;
  }
  
  .btn-login:hover {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: #000;
    border-color: #000;
  }

.left_menu{
    float: left;
    width: 270px;
    background: #fff;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    border-right: 1px solid #f3f3f3;
}

.left_menu_btn{
    position: absolute;
    /* top: -1px; */
    width: 44px;
    height: 44px;
    left: 270px;
    z-index: 99;
    background: #fff;
    border: 0px solid #ddd; 
    border-right: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    border-left: 1px solid #fff;
}

.snb{
    width: 240px;
    margin: 0 15px;
    padding: 0%;
    list-style: none;
}

.tab-btn{
    width: 50%;
    /* float: left; */
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    color: #b2b2b2;
    font-weight: bold;
    background-color: #f3f3f3;
    line-height: 38px;    
    cursor: pointer;
}

.btn-active{
    background-color: #fff;
    color: #000;
    border-bottom: none;
}

.member-join{
    background: rgb(246, 245, 245);
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    min-height: 1150px;
    min-width: 1400px;    
    z-index: 101;
}

.join-form{
    background: #fff;
    position: relative;
    margin: 0 auto;
    top: 0px;
    width: 500px;
    height: 100%;
    min-height: 1150px;
    align-items: center;
    text-align: center;
}

.join-title {
    color: #000 !important;
    padding: 70px 0 10px 0;
    font-weight: 400;
}

.join-container{
    padding: 10px;
    width: 375px; 
    margin: auto;
    text-align: left;
}

.join-label{
    color: #000;    
    margin-bottom: 10px;
}

.input-wrap{
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
    align-items: center;
    box-sizing: border-box;
}

.join-input-text{
    border: none;
    height: 47px;
    width: 100%;
    padding: 0 10px;
}

.side-menu{
    border: none;
    width: 100%;
    padding: 0 10px;
}

.join-button{
    width: 100%;
    height: 50px !important;
    background-color: #9197a2;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

.active-join-button{
    background-color: #3b78ea;
    color: #fff;
}

.active-signup-button{
    background-color: #000;
    color: #fff;    
}

.side-menu-text{
    color: #000;
    font-weight: 600;
    font-size: 16px;
    float: left;
    margin: 12px 1px;     
}

.side-button{
    width: 100%;
    height: 50px !important;
    background-color: #fff;
    border-bottom: 1px solid #9197a2;
}

.display-f-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.display-f{
    display: flex;
    flex-wrap: wrap;
}

.flex-align-start{
    align-items: flex-start;
}

.flex-center{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flex-align-center{
    align-items: center;
}

.flex-justify-end{
    justify-content: end;
}

.subcategory-item{
    width: 49%;
    padding: 5px 2px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: rgb(24, 23, 23);
}

.subcategory-item:hover{
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
.display-n{
    display: none;
}

.brand-container{
    display: flex;
    width: 98%;
    padding: 0 0 0 10px;
    margin: 2px 0; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9197a2;
}

.brand-title{
    font-size:14px;
    color: #9197a2;
    text-align: left;
}

.brand-entitle{
    color: #000;
    font-weight: 600;
    font-size:16px;
    margin: 1px;     
}

.main-title{
    padding-left: 35px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: left;
}

.path-title{
    padding-left: 35px;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 7px;
    text-align: left;
}

.main-page-container{
    padding: 16px 0 0 0;
    width: 100%;   
    min-width: 1129px;
}

.product-root-container{
    margin: 15px;
    margin-right: 0px;
    border: 1px solid #b2b2b2;
    width: 93%;
    min-width: 1000px;
}

.main-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    min-width: 1000px;
    border-bottom: 1px solid #b2b2b2;
}

.product-container{
    display: flex;
    width: 99%;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 900px;
    padding-bottom: 20px;
}

.product-condition-var{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-width: 900px;
    height: 50px;
}

.product-item{
    width: 200px;
    padding: 0px;
    margin: 2px 0; 
}

.product-item:hover{
    background: #fdfafa;

}

.product-img{
    width: 146px;
    height: 175px;
}

.product-title-img{
    width: 500px;
    height: 600px;
}

.product-sub-img{
    width: 70px;
    height: 80px;
}

.product-sub-img:hover{
    border: 1px solid #000 !important;
    cursor: pointer;
}

.brand-img{
    width: 120px;
    height: 100px;
}

.product-info-container{
    margin: 10px 10px 0px;
}

.product-info{
    text-align: left;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

.brand-p{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.notice-container{
    margin: 0 0 0 25px;
}

.notice-item{
    text-align: left;
    color: #000;
    margin: 0;
}

.address-p{
    font-size: 14px;
    font-weight: 500;
}

.title-p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.item-p{
    font-size: 14px;
    padding-bottom: 7px;
}

.font-bold{
    font-weight: bold !important;
}

.addressBox{
    width: 330px;
}

.border{
    border: 1px solid #b2b2b2;
}

.border-l{
    border-left: 1px solid #b2b2b2;
}

.border-r{
    border-right: 1px solid #b2b2b2;
}

.border-b{
    border-bottom: 1px solid #b2b2b2;
}

.color-red{
    font-size: 15px;
    color: red;
}

.width-500{
    width: 500px;
}

.brand-item-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;    
}

.hover-cursor:hover{
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.background-hover-cursor:hover{
    background: #faf8f8;
}

.selected{
    color: #000;
    font-weight: bold;
}

.height-100{
    height: 100%;
    line-height: 100%;
}

.paging-btn{
    width: 35px;
    padding: 13px 0; 
    vertical-align: middle;
}

.paging-btn:hover{
    font-weight: bold;
    cursor: pointer;
}

.width-50perc{
    width: 50%;
}

.float-r{
    float: right;
}

.float-l{
    float: left;
}

.brand-logo-text{
    font-size: 24px;
    color: #b2b2b2;
    font-weight: 600;
    float: left;
    margin: 10px 12px;
}

.product-title{
    font-size: 24px;
    color: #000;
    font-weight: 600;
    text-align: left;
}

.size-info-table{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 500px;
}

.size-info-table thead th{
    padding: 8px;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-bottom: 2px solid #ccc;
    background: #f3f6f7;
}

.size-info-table tbody th{
    padding: 8px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

.size-info-table tbody td{
    padding: 8px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.size-info-txt{
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
}

.product-info-txt{
    color: #000;
    font-size: 18px;
    text-align: left;
}

.product_article_tit{
    width: 80px;
    color: #000;
    text-align: left;
    font-weight: 600 !important;
}

.product-info-ul li{
    margin: 5px 0px;
}

.product-info-ul li p{
    text-align: left;
}

.product-info-ul{
    list-style: none;    
    padding: 0;
}

.inner-max-width{
    width: 100%;
    max-width: 920px;
}

.color-orange{
    color: orange;
}

.condition-txt{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding: 0 8px;
}

.condition-txt:hover{
    font-weight: bold;
    cursor: pointer;
}

.hashtag-box{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px;
    border: 1px solid #ccc;
}

.mypage-container{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 110;
    background-color: #fff;
    min-width: 1400px;
    height: 100%;
}

.mypage-user-image{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.user-info-nickname{
    color: #fff;
    font-size: 45px;
    font-size: bold;
}

.user-info-level{
    color: #fff;
    font-size: 30px;
    font-size: bold;
}

.mypage-menu-item{
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.n-table{
    width: 95%;
    min-width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
    line-height: 1.5;
}

.n-table thead{
    border-top: 2px solid #000;
    border-bottom: 1px solid #9197a2;
}

.n-table tbody{
    min-height: 400px;
}

.n-table thead tr th{
    padding: 15px 0;
}

.counsel-row td{
    height: 80px;
    color: #000;
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.n-table-none{
    height: 400px;
    text-align: center;
    line-height: 300px;
    width: 100%;
    min-width: 1000px;
}

.option-box-gray{
    background: #f3f3f3;
    border: 1px solid #ddd;
}

.option-select-box{
    padding:10px;
}

.option-select{
    width: 100%;
    border: 1px solid #fff;
}

.total-price-box{
    background: #fff;
    width: 100%;
    margin: 0;
}

.option-size-txt{
    width: 270px;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-left: 15px;
}

.product-total-btn{
    width: 26px;
    height: 26px;
    background: #ddd;
}

.product-total-txt{
    width: 26px;
    height: 26px;
    font-size: 18px;
    color: #000;
}

.price-txt{
    font-size: 14px;
    font-weight: bold;
}

.buy-now-btn{
    width: 260px;
    height: 60px;
    background: #000;
    color: #fff;
    font-size: 24px;
}

.cart-btn{
    width: 100px;
    height: 60px;
    background: #000;
    color: #fff;
    font-size: 20px;
}

.find-pw-txt{
    text-align: left;
    font-size: 14px;
}

.find-pw-id{
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
}

.counsel-btn{
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
}

.counsel-btn:hover{
    color: #fff;
    background: #3b78ea;
    border: none;
}

.counsel-form{
    width: 800px;
    
}

.counsel-txt{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #000;    
}

.counsel-ul{
    width: 800px;
    padding: 0;
}

.counsel-ul li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d3d3d3;
}

.counsel-ul li .first{
    width: 200px;
    float: left;
    text-align: left;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.counsel-ul li .first-p{
    width: 150px;
    float: left;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    background: #dfdfdf;
}

.counsel-ul li .second{
    width: 550px;
    float: right;
    color: #000;
    font-size: 14px;
    height: 30px;
    margin-top: 9px;
    border: 1px solid #ccc;
    padding-left: 5px;
}

.counsel-ul li .second-p{
    width: 750px;
    float: right;
    text-align: left;
    font-size: 18px;
    color: #000;
    padding-left: 15px;
}

.counsel-body{
    font-size: 16px !important;
    height: 100% !important;
}

.counsel-select{
    height: 30px;
    margin-top: 9px;
}


a {
    text-decoration: none;
}

a:hover {
    /* color: #fff;*/
    text-decoration: none;
}

p {
    margin: 0;
}